.modalContainer {
  margin: 10%;
  margin-bottom: 4%;
  background: #9fc0da;
  border-radius: 10px;
  padding-top: 5%;
}
.modalContainer .modalText {
  color: rgb(30, 30, 196);
}
.modalContainer .modalText b {
  letter-spacing: 1px;
}
.modalContainer button {
  background: none;
  color: blue;
  font-size: 25px;
  cursor: auto;
}
.modalContainer button .modalIcon {
  cursor: pointer;
}
