@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@500&display=swap");
.App {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.box div {
  position: absolute;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 3px solid white;
}
.box div:nth-child(1) {
  top: 12%;
  left: 42%;
  border-radius: 50%;
  border-color: yellow;
  animation: animate 10s linear infinite;
}
.box div:nth-child(2) {
  top: 24%;
  left: 50%;
  border-color: rgb(223, 68, 68);
  animation: animate 7s linear infinite;
}
.box div:nth-child(3) {
  top: 32%;
  left: 6%;
  border-color: rgb(223, 68, 68);
  animation: animate 9s linear infinite;
}
.box div:nth-child(4) {
  top: 42%;
  left: 60%;
  border-color: rgb(223, 68, 68);
  border-radius: 50%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(5) {
  top: 67%;
  left: 10%;
  border-color: rgb(23, 184, 23);
  animation: animate 6s linear infinite;
}
.box div:nth-child(6) {
  top: 50%;
  left: 70%;
  border-color: rgb(68, 122, 223);
  animation: animate 12s linear infinite;
}
.box div:nth-child(7) {
  top: 60%;
  left: 80%;
  border-color: rgb(230, 14, 194);
  border-radius: 50%;
  animation: animate 15s linear infinite;
}
.box div:nth-child(8) {
  top: 80%;
  left: 25%;
  border-color: rgb(11, 230, 200);
  border-radius: 50%;
  animation: animate 16s linear infinite;
}
.box div:nth-child(9) {
  top: 60%;
  left: 25%;
  animation: animate 9s linear infinite;
}
.box div:nth-child(10) {
  top: 20%;
  left: 80%;
  border-radius: 50%;
  animation: animate 5s linear infinite;
}
.box div:nth-child(10) {
  top: 50%;
  left: 60%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(10) {
  top: 55%;
  left: 40%;
  border-color: rgb(247, 247, 77);
  border-radius: 50%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(11) {
  top: 98%;
  left: 20%;
  border-color: aqua;
  animation: animate 10s linear infinite;
}

.box div:nth-child(12) {
  top: 15%;
  left: 40%;
  border-color: mediumvioletred;
  border-radius: 50%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(13) {
  top: 11%;
  left: 70%;
  border-color: peachpuff;
  animation: animate 10s linear infinite;
}
.box div:nth-child(14) {
  top: 98%;
  left: 70%;
  border-radius: 50%;
  border-color: darkred;
  animation: animate 10s linear infinite;
}

.box div:nth-child(15) {
  top: 78%;
  left: 75%;
  border-radius: 50%;
  border-color: white;
  animation: animate 10s linear infinite;
}

.box div:nth-child(16) {
  top: 59%;
  left: 77%;
  border-radius: 50%;
  border-color: greenyellow;
  animation: animate 10s linear infinite;
}
@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}
:root {
  --clr: #0e1c38;
  --white: #fff;
}
.navigation {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  opacity: 0.8;
  z-index: 1;
  height: 70px;
  background: var(--clr);
  margin: none;
  padding: 10px 0px 10px 10px;
}
.logo img {
  width: 30px;
}
.navigationLinks {
  float: right;
}
.navigationLinks ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
}
.navigationLinks ul li {
  position: relative;
  list-style: none;
  width: 50px;
  height: 70px;
  z-index: 1;
}
.navigationLinks ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.navigationLinks ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.2em;
  text-align: center;
  justify-content: center;
  transition: 0.5s;
  color: var(--white);
}
/* .navigationLinks ul li.active a .icon {
  transform: translateY(-32px);
} */
.navigationLinks ul li a .text {
  position: absolute;
  color: var(--white);
  font-weight: 400;
  font-size: 0.7em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  text-transform: uppercase;
  display: none;
}
/* .navigationLinks ul li.active a .text {
  opacity: 1;
  transform: translateY(10px);
} */
/* .indicator {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  background: #608ce4;
  border-radius: 50%;
  border: 6px solid var(--clr);
  transition: 0.5s;
}
.indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-top-right-radius: 20px;
  box-shadow: 0px -10px 0 0 var(--clr);
}
.indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -22px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-top-left-radius: 20px;
  box-shadow: 0px -10px 0 0 var(--clr);
}
.navigationLinks ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0));
}
.navigationLinks ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}
.navigationLinks ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2));
}
.navigationLinks ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 3));
} */

.section {
  /* margin-top: 200px; */
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
}
.hiThere {
  color: rgb(172, 161, 161);
  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: 700;
}
.name {
  color: var(--white);
  font-size: 2.6em;
  font-weight: 800;
  font-family: "Work Sans", sans-serif;
  margin: 10px;
}
.occupation {
  color: whitesmoke;
  font-size: 1.5em;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
}
.resume a {
  background: #007bff;
  border-radius: 2px;
  cursor: pointer;
  color: white;
  border: none;
  font-size: 0.9em;
  font-weight: 600;
  margin-top: 1%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2%;
  padding-right: 2%;
  text-decoration: none;
  letter-spacing: 0.15em;
  font-family: "Poppins", sans-serif;
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.resume a:hover {
  color: #007bff;
  background: white;
  text-decoration: underline;
}
#contact {
  background: #192c52;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 3%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
}
.contactContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}
.container-item {
  margin: 10px;
  background: transparent;
}
.main-header {
  width: 100%;
  height: 100px;
  color: white;
  font-size: 3em;
  word-spacing: 1px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}
.main-contacts {
  width: 300px;
  text-align: center;
  align-items: center;
}
.main-contacts .contacts {
  margin-bottom: 20px;
}
.main-contacts .contacts .contacts-text {
  color: #fff;
}
.main-contacts .contacts .contacts-details a {
  color: rgb(172, 161, 161);
  text-decoration: none;
}
.contactMe {
  width: 60%;
  justify-content: center;
}
.contactMe input {
  color: white;
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  margin: 10px;
  letter-spacing: 1px;
  font-size: 1rem;
}
.contactMe input:focus,
.contactMe input:active {
  outline: none;
  background: none;
}
::placeholder {
  color: rgb(185, 178, 178);
  text-transform: capitalize;
}
.user-info {
  padding: 10px;
  width: 100%;
}
.my-info {
  width: 100%;
  padding: 10px 10px 60px 10px;
}
.contactMe button {
  background: #007bff;
  border-radius: 2px;
  cursor: pointer;
  color: white;
  width: 80%;
  border: none;
  font-size: 1em;
  padding: 3%;
  letter-spacing: 0.15em;
  margin-left: 4%;
  opacity: 0.9;
  font-family: "Poppins", sans-serif;
}
.contactMe button:hover {
  opacity: 1;
}
.microphone {
  cursor: pointer;
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 5%;
  margin-bottom: 5%;
  border-radius: 50%;
  background: white;
  border: 2px solid white;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 0.3%;
  opacity: 0.8;
}
.microphone .icon {
  font-size: 30px;
  color: #192c52;
}
.microphone:focus,
.microphone:active {
  opacity: 1;
}
#skills {
  /* margin-top: 300px; */
}
.skillsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}
.skills-header {
  color: white;
  font-size: 3em;
  font-family: "Poppins", sans-serif;
}
.skills-item {
  margin: 20px;
  width: 200px;
}
.skills-item .img-thin {
  width: 220px;
  height: 140px;
  background: transparent;
}
.skills-item .img-normal {
  width: 70px;

  background: transparent;
}
.skills-item .img-big {
  width: 160px;
  height: 140px;
  background: transparent;
}
.skills-item .img-tiny {
  width: 200px;
  height: 140px;
  background: transparent;
}
.skills-item .skills-name {
  color: white;
}
.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background: #192c52;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px 10px 0px 0px;
}
.footer-links {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
.footer-links .icon-link {
  margin: 2%;
  cursor: pointer;
}
.footer-links .icon-link a {
  color: white;
  text-decoration: none;
}
.footer-text {
  color: rgb(133, 130, 130);
}
.footer-text b {
  color: white;
  font-weight: normal;
}
.footer-icon {
  color: white;
}
#projects {
  background: #192c52;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2%;
}
.projects-container .project-cards {
  width: 300px;
  margin: 2.5%;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 7%;
  padding-right: 7%;
  border-radius: 5px;
  background: #3e60a5;
}
.projects-header {
  text-transform: uppercase;
  color: white;
  font-size: 3em;
  font-family: "Poppins", sans-serif;
}
.projects-container .project-cards .project-name {
  color: #fff;
  font-size: 1.4em;
  font-weight: 600;
}
.projects-container .project-cards .date {
  color: rgb(185, 178, 178);
  margin: 2%;
}
.project-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: center;
  margin-top: 1em;
  gap: 2em;
  text-decoration: underline;
  color: #02356b;
}
.live-view a {
  cursor: pointer;
  color: white;
}
.repo a {
  color: #007bff;
}
.aboutContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}
.aboutHeader {
  color: white;
  font-size: 3em;
  font-family: "Poppins", sans-serif;
}
.about {
  color: black;
  background: linear-gradient(to right, #a0caf7, #007bff);
  padding: 20px;
  border-radius: 20px;
  font-size: 1.3em;
  font-weight: 500;
  color: #0e1c38;
  line-height: 2em;
  text-align: left;
  box-shadow: rgba(235, 235, 241, 0.2) 0px 7px 29px 0px;
  transition: all 0.5s;
}
.about:hover {
  box-shadow: none;
}
.aboutResume {
  background: #007bff;
  margin: 0.5em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  cursor: pointer;
}
.aboutResume a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}
.aboutResume:hover {
  animation-name: aboutResumeAnimate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes aboutResumeAnimate {
  0% {
    background-color: red;
    color: white;
  }
  25% {
    background-color: purple;
    color: white;
  }
  50% {
    background-color: rgb(38, 0, 255);
    color: aqua;
  }
  75% {
    background-color: pink;
    color: #3e60a5;
  }
  100% {
    background-color: yellow;
    color: #0e1c38;
  }
}
